[Desktop Entry]
Type=Application
Version=1.5
Name=Snypr Daemon
GenericName=Screenshot Daemon
Comment=Background daemon with systray for quick screenshots and drawing
Exec=snypr daemon --systray
TryExec=snypr
Icon=noirbizar.re.Snypr
Terminal=false
Categories=Graphics;Utility;
Keywords=screenshot;daemon;systray;hyprland;wayland;
StartupNotify=false
X-GNOME-Autostart-Enabled=true
