[Desktop Entry]
Type=Application
Version=1.5
Name=Snypr
GenericName=Screenshot Tool
Comment=Capture, annotate, and draw on your Wayland screen
Exec=snypr screenshot --interactive
TryExec=snypr
Icon=noirbizar.re.Snypr
Terminal=false
Categories=Graphics;Utility;2DGraphics;RasterGraphics;
Keywords=screenshot;screen;capture;annotate;draw;hyprland;wayland;wlroots;
StartupNotify=true
StartupWMClass=noirbizar.re.Snypr
Actions=Screenshot;ScreenshotFull;Draw;

[Desktop Action Screenshot]
Name=Take Screenshot (region)
Exec=snypr screenshot --interactive

[Desktop Action ScreenshotFull]
Name=Take Full-Screen Screenshot
Exec=snypr screenshot --full

[Desktop Action Draw]
Name=Draw on Screen
Exec=snypr draw
